<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>LBNF</string>
	<key>uuid</key>
	<string>295B95BE-4107-4819-BB6F-E337C7144662</string>
</dict>
</plist>
