<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   /deepbondi/bin/pTemplate "$TM_NEW_FILE"
fi</string>
	<key>keyEquivalent</key>
	<string>@N</string>
	<key>name</key>
	<string>pTemplate</string>
	<key>uuid</key>
	<string>BBE7CA17-5C77-472D-8C13-A39AB80DE7A2</string>
</dict>
</plist>
