repo darcs://darcs.deepbondi.net/deepbondi
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

repo darcs://darcs.deepbondi.net/set
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

repo darcs://darcs.deepbondi.net/eecs-contest
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

repo darcs://darcs.deepbondi.net/mokus/whoami
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

repo darcs://darcs.deepbondi.net/galaxy
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

repo darcs://darcs.deepbondi.net/tindrums-sandbox
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

repo darcs://darcs.deepbondi.net/mokus-sandbox
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

repo darcs://darcs.deepbondi.net/bondi
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

repo darcs://darcs.deepbondi.net/NeoJookie
	server = ssh://darcs@darcs.deepbondi.net
	ssh = ssh -i ~/.ssh/darcs-id

