<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   /deepbondi/bin/hsTemplate "$TM_NEW_FILE" "$TM_NEW_FILE_BASENAME"
fi	</string>
	<key>extension</key>
	<string>hs</string>
	<key>name</key>
	<string>hsTemplate</string>
	<key>uuid</key>
	<string>99895425-C3A5-47EF-9792-7984962486A4</string>
</dict>
</plist>
